# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Databases & Cache
*.db
*.sqlite
*.sqlite3

# Environment keys
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo
